# Databases and Datasets
*.db
*.sqlite
*.csv
chroma_db/
load_

# Python Virtual Environments & Caches
.venv/
venv/
env/
__pycache__/
*.pyc
.pytest_cache/

# IDE / Operating System files
.vscode/
.DS_Store
Thumbs.db
